

@media screen and (max-width: 1280px){
	.section_2{
		height: auto;
    	padding-bottom: 5vh;
	}
	#cabelho{
		font-size: 15px;
	}

	.section_3 , .section_4 {
		height: auto !important;
	}

	#nome_section3{
	text-align: center;
    margin-left: 0px;
    }

    .font-size-media{
    	font-size: 21px;
    	margin-top: 10px
    }

    #h2-beneficio{
    	font-size: 25px;
    	text-align: center;
    	margin-top: 10px;
    }

    #img_logo{
	    left: 30px;
    }

	html:not([data-scroll='0']) body .scroll-fixed {
  	display: block;
  	overflow: hidden;
    width: 80px;
	}

	#icone-seta{
		width: 25%;
	}

	#footer-style{
		text-align: center;
	}

	#email-footer {
    text-align: center;
	}
	#style-footer{
		margin: 0px;
	}
	.scroll-fixed{
		z-index: 10;
	}
	.container-footer{
		z-index: 11;
    	position: relative;
    	background-color: #ffff;
    	overflow: hidden;
	}
        

}

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}