html {
  scroll-behavior: smooth;
}
/*SECÇÃO 1*/

	/* BARRA MENU*/

	.topnav {
	  background-color: #8C352C;
	  overflow: hidden;
	}

	.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 0px 16px;
	text-decoration: none;
	font-size: 17px;
	height: 100%;
	line-height: 40px;
	}

	.topnav a:hover {
	  background-color: #8C352C;
	  color: #ffff;
	}

	.topnav a.active {
	  background-color: #8C352C;
	  color: white;
	}

	.topnav .icon {
	  display: none;
	}

	#cabecalho{
		background-color:#8C352C;
		width:100%;
		height:40px;
		font-size: 18px;
	}
	li{
		color: #ffff;
		font-family: "Verdana" , "Arial";
	}

	/*FIM BARRA MENU*/

	#foto_header{
		width: 100%;
	}

	.fundo{
		background-image: url(../imagens/header.jpg);
		height: calc(100vh - 40px);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 80%;
	}

	.section_inicial{
		height: 100vh;
	}

	#img_logo{
		position: absolute;
		bottom: 50px;
		left: 50px;
	}

/*FIM SECÇÃO 1*/

/*SECÇÃO 2*/

	#nome_segunda_section{
		padding: 20px;
		margin-left: 30px;
		color: #8C352C;
		font-family: "Verdana" , "Arial";
	}

	.section_2{
		height: auto;
		background-color: #F8F8F8;
		padding: 20px;
		margin-bottom: 50px;
	}

	#style_text{
		color: #8C352C;
		font-family: "Verdana" , "Arial";
	}

	#style_text_azul{
		color: #9DC3E6;
		font-family: "Verdana" , "Arial";
	}
	#div_section3 #style_text_azul{
		margin-top: 5vh;
		margin-bottom: 2vh;
	}

/*FIM SECÇÃO 2*/

/*SECÇÃO 3*/
	#nome_section3{
		/*margin-left: 50px;*/
		color: #8C352C;
		font-family: "Verdana" , "Arial";
	}

	#lista{
		margin-up: 5vh;
		margin-bottom: 15px;
	}

	#div_section3{
		padding: 10px;
	}
/*FIM SECÇÃO 3*/

/*SECÇÃO 4*/
	#div_section4{
		width: 100%;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	#margin_text{
		margin-right: 10px;
	}
	#margin_text p{
		font-size: 0.7rem;
	}

	#img_section2{
		margin-bottom: 20px;
	}

	.section_4 {
		/*margin-top: 50px;*/
	}

/*FIM SECÇÃO 4*/

/*FOOTER*/
#footer{
	margin-top: 100px;
}

#style-footer{
	width: 100%;
    height: 40px;
    font-size: 18px;
}

.topnav-footer {
	color: black;
	overflow: hidden;
}
a{
	color: black;
}
#email-footer{
	text-align: right;
}

a[href="#top"]{
    /*padding:10px;*/
    position:fixed;
    top: 90%;
    right:0px;
    /*font-size: 30px;*/
}
a[href="#top"]:hover{
    text-decoration:none;
}

#icone-seta{
	width: 25%;
}

html:not([data-scroll='0']) body .scroll-fixed {
  display: none;
}
html:not([data-scroll='0']) body .scroll-fixed {
  display: block;
}